.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}
@media (min-width: 360px) {
    .container {
        max-width: 360px
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px;
        padding-right: 0rem;
        padding-left: 0rem
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px
    }
}
.m-8 {
    margin: 2rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-5 {
    margin-bottom: 1.25rem
}
.mb-8 {
    margin-bottom: 2rem
}
.ml-1 {
    margin-left: 0.25rem
}
.mt-4 {
    margin-top: 1rem
}
.mt-5 {
    margin-top: 1.25rem
}
.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}
.inline-block {
    display: inline-block
}
.flex {
    display: flex
}
.hidden {
    display: none
}
.h-1 {
    height: 0.25rem
}
.h-5 {
    height: 1.25rem
}
.h-6 {
    height: 1.5rem
}
.h-full {
    height: 100%
}
.max-h-44 {
    max-height: 11rem
}
.min-h-screen {
    min-height: 100vh
}
.w-16 {
    width: 4rem
}
.w-5 {
    width: 1.25rem
}
.w-6 {
    width: 1.5rem
}
.w-full {
    width: 100%
}
.max-w-5xl {
    max-width: 64rem
}
.max-w-screen-xl {
    max-width: 1200px
}
.max-w-sm {
    max-width: 24rem
}
.flex-grow {
    flex-grow: 1
}
.cursor-pointer {
    cursor: pointer
}
.list-decimal {
    list-style-type: decimal
}
.list-disc {
    list-style-type: disc
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-center {
    align-items: center
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.rounded {
    border-radius: 0.25rem
}
.rounded-2xl {
    border-radius: 1rem
}
.rounded-full {
    border-radius: 9999px
}
.rounded-b-none {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px
}
.border-b {
    border-bottom-width: 1px
}
.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}
.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.object-cover {
    -o-object-fit: cover;
       object-fit: cover
}
.p-0 {
    padding: 0px
}
.p-4 {
    padding: 1rem
}
.p-6 {
    padding: 1.5rem
}
.px-0 {
    padding-left: 0px;
    padding-right: 0px
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.pt-2 {
    padding-top: 0.5rem
}
.text-center {
    text-align: center
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-light {
    font-weight: 300
}
.font-medium {
    font-weight: 500
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.leading-7 {
    line-height: 1.75rem
}
.leading-tight {
    line-height: 1.25
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline {
    text-decoration-line: underline
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}
.alignwide {
    margin: 2rem 0;
    max-width: 1200px !important
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 576px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.wp-block {
    max-width: 1200px
}
.wp-block[data-align=wide] {
    max-width: 1200px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.hover\:italic:hover {
    font-style: italic
}
.group:hover .group-hover\:block {
    display: block
}
@media (min-width: 576px) {
    .sm\:mb-6 {
        margin-bottom: 1.5rem
    }
    .sm\:w-2\/4 {
        width: 50%
    }
    .sm\:px-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }
    .sm\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem
    }
}
@media (min-width: 768px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }
    .md\:flex {
        display: flex
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:max-w-3xl {
        max-width: 48rem
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
@media (min-width: 992px) {
    .lg\:absolute {
        position: absolute
    }
    .lg\:relative {
        position: relative
    }
    .lg\:left-1\/2 {
        left: 50%
    }
    .lg\:-mx-4 {
        margin-left: -1rem;
        margin-right: -1rem
    }
    .lg\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }
    .lg\:mb-3 {
        margin-bottom: 0.75rem
    }
    .lg\:mt-0 {
        margin-top: 0px
    }
    .lg\:block {
        display: block
    }
    .lg\:flex {
        display: flex
    }
    .lg\:hidden {
        display: none
    }
    .lg\:max-h-none {
        max-height: none
    }
    .lg\:max-h-64 {
        max-height: 16rem
    }
    .lg\:max-h-72 {
        max-height: 18rem
    }
    .lg\:max-h-80 {
        max-height: 20rem
    }
    .lg\:w-1\/3 {
        width: 33.333333%
    }
    .lg\:w-2\/3 {
        width: 66.666667%
    }
    .lg\:w-48 {
        width: 12rem
    }
    .lg\:w-full {
        width: 100%
    }
    .lg\:w-2\/6 {
        width: 33.333333%
    }
    .lg\:w-4\/6 {
        width: 66.666667%
    }
    .lg\:max-w-3xl {
        max-width: 48rem
    }
    .lg\:max-w-none {
        max-width: none
    }
    .lg\:max-w-screen-xl {
        max-width: 1200px
    }
    .lg\:-translate-x-1\/2 {
        --tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .lg\:transform {
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .lg\:flex-row {
        flex-direction: row
    }
    .lg\:items-center {
        align-items: center
    }
    .lg\:justify-between {
        justify-content: space-between
    }
    .lg\:rounded {
        border-radius: 0.25rem
    }
    .lg\:rounded-2xl {
        border-radius: 1rem
    }
    .lg\:rounded-xl {
        border-radius: 0.75rem
    }
    .lg\:bg-transparent {
        background-color: transparent
    }
    .lg\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }
    .lg\:p-0 {
        padding: 0px
    }
    .lg\:p-6 {
        padding: 1.5rem
    }
    .lg\:p-4 {
        padding: 1rem
    }
    .lg\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .lg\:py-1 {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
    }
    .lg\:px-0 {
        padding-left: 0px;
        padding-right: 0px
    }
    .lg\:px-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }
    .lg\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem
    }
    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .lg\:leading-loose {
        line-height: 2
    }
    .lg\:ring-1 {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
    }
}
@media (min-width: 1200px) {
    .xl\:flex-row {
        flex-direction: row
    }
    .xl\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .xl\:px-0 {
        padding-left: 0px;
        padding-right: 0px
    }
    .xl\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}
